:root {
  --title-large-font-family: "DMSans-Bold", Helvetica;
  --title-large-font-weight: 700;
  --title-large-font-size: 60px;
  --title-large-letter-spacing: 0.5px;
  --title-large-line-height: 76px;
  --title-large-font-style: normal;
  
  }
  